a {
  line-height: 1.25;
  color: #595959;
  font-family: Optima-Regular, Optima, PingFangTC-Light, PingFangSC-light, PingFangTC-light;
  letter-spacing: 2px;
  background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%) !important;
  background-size: 20px 20px;
  background-position: center center;
}
a {
  color: #40B8FA;
  font-weight: normal;
  //border-bottom: 1px solid #3BAAFA;
}
p {
  color: #595959;
  margin: 10px 0px;
  letter-spacing: 2px;
  font-size: 14px;
  word-spacing: 2px;
  background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%) !important;
}
h1 {
  text-align:center;
  background-image: url(https://my-wechat.mdnice.com/mdnice/mountain_2_20191028221337.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 95px;
  line-height:95px!important;
  margin-top: 38px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight 0
  color: rgb(60, 112, 198);
  border-bottom:2px solid #3C7076;
}
h1:hover {

}
h2 {
  display:block;
  text-align:center;
  background-image: url(https://my-wechat.mdnice.com/mdnice/mountain_2_20191028221337.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-size: 63px;
  margin-top: 38px;
  margin-bottom: 10px;
  height: 38px;
  line-height: 42px;
  color: rgb(60, 112, 198);
  font-size:18px;
}
h2:before {
  content ""
  display: flex;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image:url(https://img.alicdn.com/tfs/TB1iq.pypY7gK0jSZKzXXaikpXa-32-32.png);
  margin-bottom: -22px;
}
h3 {
  font-size:16px;
  font-weight:bold;
  display:inline-block;
  margin-left:8px;
  color:rgb(60,112,198);
}
  .name {
    display flex
    justify-content center
  }
.hero h1 {
  display none
}
  .description {
    display none
  }
blockquote:before {
  content: "❝";
  color: RGBA(64, 184, 250, .5);
  font-size: 34px;
  line-height: 1;
  font-weight: 700;
}
blockquote {
  text-size-adjust: 100%;
  line-height: 1.55em;
  font-weight: 400;
  border-radius: 6px;
  color: #595959;
  font-style: normal;
  text-align: left;
  box-sizing: inherit;
}
code {
  color: #3BAAFA!important;
  background: RGBA(59, 170, 250, .1);
  display:inline-block;
  padding:0 2px;
  border-radius:2px
  border-bottom 1px solid #3BAAFA;
}
pre {
  background-color #e9f0f8 !important
}
.token.property {
  color #6a46d1 !important
}
.token.string {
  color #68a2df
}
a.sidebar-link.active {
  color #3683d6 !important
  background-color transparent
}
.sidebar-heading.open {
  background-color #e4f1ff !important
  margin-left  10px !important
  border-top-left-radius 25px !important
  border-bottom-left-radius 25px !important
}
  span {
    font-size 14px !important
  }
.sidebar-sub-header a:hover {
  color #3498db !important
}
.sidebar-links a:hover {
  color #3498db !important
}
.custom-block.tip {
  border-left-color #3498db
}
