.hero h1 {
  display none
}
  .description {
    display none
  }
h2 {
  color #08c
}
p {
  font-size 20px !important
}
code {
  color #3683d6 !important
  border-radius 4px !important
  background-color #e9f0f8 !important
}
  ::selection {
  background-color blue
  color white
}
pre {
  background-color #e9f0f8 !important
}
.token.property {
  color #6a46d1 !important
}
.token.string {
  color #68a2df
}
a.sidebar-link.active {
  color #3683d6 !important
  background-color transparent
}
.sidebar-heading.open {
  background-color #e4f1ff !important
  margin-left  10px !important
  border-top-left-radius 25px !important
  border-bottom-left-radius 25px !important
}
  span {
    font-size 14px !important
  }
.sidebar-sub-header a:hover {
  color #3498db !important
}
.sidebar-links a:hover {
  color #3498db !important
}
.custom-block.tip {
  border-left-color #3498db
}
